:root {
    --body-color: #444444;
    --bg-hero: #454925;
    --red-text: #892920;
    --gruene-text: #54582C;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
}

body {
    margin: 0;
    color: var(--body-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    background-color: transparent;
}

b,
strong {
    font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p {
    margin: 0 0 16px;
}

hr {
    box-sizing: content-box;
    height: 0;
    margin: 30px 0 1px;
    overflow: visible;
}

img {
    border-style: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.part {
    padding: 20px 0;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .title-section {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* section top nav ******************************/
.top-nav {
    background-color: var(--bg-hero);
}

.top-nav .top-menu li {
    display: inline-block;
}

.top-nav .top-menu ul {
    list-style: none;
}

.top-nav .top-menu a {
    display: inline-block;
    padding: 4px 8px;
    color: #ffffff;
    text-decoration: none;
}

.admin-menu .admin-name {
    display: inline-block;
    color: #ffffff;
}

.mobtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 34px;
    margin: 0;
    padding: 0px;
    background: transparent;
    cursor: pointer;
}

.mobtn span {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: background-color 350ms ease-in-out;
}

.mobtn span::before {
    display: block;
    position: absolute;
    top: -12px;
    right: 0;
    width: 34px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.mobtn span::after {
    display: block;
    position: absolute;
    right: 0;
    bottom: -12px;
    width: 34px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.mobtn.open span {
    background-color: transparent;
}

.mobtn.open span::before {
    @include rotate(45deg);
    top: 0;
}

.mobtn.open span::after {
    @include rotate(-45deg);
    bottom: 0;
}

/* section hero ******************************/
.tile-01 {
    padding: 40px 0;
    background-color: var(--bg-hero);
}

.title-hero {
    color: #ffffff;
    font-size: 26px;
    text-align: center
}

.text-hero {
    color: #ffffff;
}

.text-hero p:last-child {
    margin: 0 0 30px;
}

.img-hero img {
    display: block;
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .tile-01 {
        padding: 80px 0;
    }

    .title-hero {
        font-size: 40px;
    }

    .text-hero {
        font-size: 18px;
    }

    .flex-container {
        display: flex;
    }

    .text-hero {
        flex: 0 1 49%;
    }

    .img-hero {
        flex: 0 1 49%;
        text-align: center;
    }

    .img-hero img {
        width: auto;
        margin: 0 auto;
    }
}

/* section main text ******************************/
.part-1 {
    padding: 40px 0 20px;
}

.title-section {
    font-size: 22px;
}

.subtitle-section {
    font-size: 20px;
}

.main-text {
    max-width: 700px;
}

.mark-text {
    box-sizing: border-box;
    max-width: 845px;
    padding: 20px 40px;
    border-radius: 6px;
    color: #ffffff;
}

.red-text {
    background-color: var(--red-text);
}

.gruene-text {
    background-color: var(--gruene-text);
}

.small-hr {
    width: 300px;
    margin: 30px 0;
}
